<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
   <default>
       <carriers>
           <brcityfreighttable>
               <active>0</active>
               <title>Entrega</title>
               <name>Comum</name>
               <shipping_cost>10</shipping_cost>
               <sallowspecific>0</sallowspecific>
               <sort_order>15</sort_order>
               <model>Magelab\BRCityFreightTable\Model\Carrier</model>
           </brcityfreighttable>
       </carriers>
   </default>
</config>
